/* base variables */
:root {
  --black: #252422;
  --white: #ffffff;
  --dkgrey: #403d39;
  --ltolive: #666b57;
  --green: #6a994b;
  --ltgreen: #a4c78d;
  --orange: #eb5e28;
  --ltorange: #f39e7e;
  --font-size: 1.3rem;
  --mono: "Roboto mono", monospace;
  --sans: "Roboto", sans-serif;
}

/* box-sizing reset */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* base styles */
body {
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size);
}

h1, h2, h3 {
    margin: 0;
}

a {
    color: var(--green);
}

a:hover {
    color: var(--ltgreen);
    text-decoration: none;
}

img {
    width: 100%;
}

/* background color divs */
.section-ltolive {
    background-color: var(--ltolive);
}

.section-dkgrey {
    background-color: var(--dkgrey)
}

/* navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: var(--mono);
    font-size: 80%;
    padding: 1rem;
}

nav h1 a {
    margin-right: auto;
    font-family: var(--sans);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

nav [class*="fa-"] {
    font-size: 150%;
    color: var(--orange);
}

nav h1 [class*="fa-"] {
    font-size: 100%;
    color: var(--orange);
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
    color: var(--ltorange);
}

/* burger menu styling */
.hamburger, .close {
    font-size: 2rem;
    color: var(--green);
    padding: 1rem;
}

nav {
    background-color: var(--ltolive);
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    display: flex;
    transform: translateY(-100%);
    transition: transform 0.2s ease;
}

nav:target {
    transform: translateY(0);
}

.button {
    background-color: var(--green);
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    font-family: var(--mono);
    text-decoration: none;
}

.button:hover {
    color: white;
    background-color: var(--ltgreen);
}

/* footer section */
footer {
    text-align: center;
}

/* main */
.about {
    padding: 4rem 1rem;
}

.about h2 {
    font-size: 2.5rem;
    margin-bottom: calc(2.5rem * 1.5);
}

.about h3 {
    color: var(--orange);
}

.about h4 {
    font-size: 1rem;
    font-family: var(--mono);
    margin: 0;
}

.blackbox {
    background-color: var(--black);
    padding: 1rem;
    border-radius: 10px;
    color: var(--white);
    font-size: 1rem;
    line-height: 1.5;
}

.about ul {
    list-style-type: none;
    padding: 0.5rem;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 0.5rem 1rem;
    font-size: 1rem;
}

.about img {
    margin: 2rem 0 4rem 0;
    border-radius: 25px;
    padding: 1rem;
}


/* responsive media queries */

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        justify-content: flex-start;
    }

    nav h1 {
        margin-bottom: 2rem;
    }
}
/* grid overlap */
@media (min-width: 800px) {
    article {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 1rem;
    }

    .about {
        max-width: 1200px;
        margin: 0 auto;
    }

    .about img {
        grid-column: 1/6;
        grid-row: 1/2;
    }

    .text,
    .about .text {
        grid-column: 5/11;
        grid-row: 1/2;
        order: 2;
        text-align: right;
    }

    .about ul {
        justify-content: flex-end;
    }
}

/* nav bar for tablet sizes */
@media (min-width: 850px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;
    }

    nav li:first-child {
        flex-basis: 100%;
        text-align: center;
        align-items: center;
    }
}

/* mobile burger menu nav bar */
@media (min-width: 550px) {
    nav {
        background-color: var(--black);
        position: static;
        width: auto;
        height: auto;
        overflow: auto;
        transform: translateY(0);
    }

    nav li:first-child {
        flex-basis: auto;
        text-align: center;
    }

    .hamburger,
    .close {
        display: none;
    }

    nav ul {
        margin-left: auto;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    li:first-child a {
        text-align: center;
    }
}